*{ 

    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    }
  
  body {
      font-family: 'Nunito', sans-serif;
      background:rgb(234, 253, 142);
      background-size: cover;
      color:black;
      font-size: 16px;
    }
    

    #fecha{
      font-family: Oswald, Arial;
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 0.3125rem;
     /* margin-bottom: 5px;*/
      background: rgb(165, 241, 124);
      padding: 20px;
      width: 100%;
    }

    
  h1{
      text-align: center;
      padding: 20px;
      font-size: 40px;
      color:black;
  }
  h2{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color:black;
  }
  
  
  .container{
    width: 500px;
    background: rgb(165, 241, 124);
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
  }
  .acceso{
    color: rgb(0,89,255);
  }

  .dni{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
  }

   input{
    width: 100%;
    padding: 30px;
    outline: none;
   } 

   .botones{
    display: flex;
    margin-top: 20px;
   }

   .entrada{
    background: green;
    width: 100%;
    padding: 25px 35px;
    color:black;
    text-align: center;
    text-decoration: none;
   }
   
   .salida{
    background: rgb(233, 246, 48);
    width: 100%;
    padding: 25px 35px;
    color:black;
    text-align: center;
    text-decoration: none;
   }
