
 *{ 

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  }

body {
    font-family: 'Nunito', sans-serif;
    background: rgb(234, 253, 142);
  }

  .container_title {
    height: 10rem;
  }


.sistema{
    width: 100vw;
    height: 80px;
    text-align: center;
    padding: 20px;
    font-size: 35px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items:center ;
  /* margin-left: 10px; */
    /* margin-right: 10px; */
}

.sistema{
  animation: BGcolorChanging-4colors 6s linear infinite alternate both;
}
@keyframes BGcolorChanging-4colors{
 0%{
   background: rgb(141, 183, 55);
 }
 33.3333%{
   background: rgb(141,143,45);
 }
 66.666%{
   background:rgb(199, 251, 95);
 }
 100%{
   background: rgb(142, 223, 84);
 }
}

.nombre{ 
  text-align: center;
  width: 100vw;
  height: 80px;
  padding: 20px;
  font-size: 30px;
  color:black;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items:center ;
}
.nombre{
  animation: BGcolorChanging-4colors 6s linear infinite alternate both;
}
@keyframes BGcolorChanging-4colors{
 0%{
   background: rgb(141, 183, 55);
 }
 33.3333%{
   background: rgb(154, 190, 83);
 }
 66.666%{
   background:#f3f340;
 }
 100%{
   background: #f9f96b;
 }
}
.form{
  width: 500px;
}


.container_padre{
    width: 100vw;
    height: 65vh;
    background: rgb(234, 253, 142);
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.container_QR{
  width: 50vw;
  align-items: center;
  flex-direction: column;

}
.QR{
  text-align: center;
  font-size: 20px;
  width: 50vw;
  padding: 20px;
  justify-content:center ;
  align-items:center ;
  margin: 0 auto;
}

.escanear{
  width: 30vw;
  background: rgb(74, 69, 69);
  padding: 150px;
  outline: none;
  text-align: center;
  justify-content:center ;
  align-items:center ;
  margin-left: 150px;
  border-style: solid;
  border-color: black;
}

.container_dni{
  width: 50vw;
  align-items: center;
  flex-direction: column;

}

.acceso{
  color:#1d069c;
  text-align: center;
  width: 100vw;
  padding: 20px;
  font-size: 25px;
  width: 50vw;
  display: flex;
  justify-content:center ;
  align-items:center ;
  margin: 0 auto;
 
}

.dni{
  text-align: center;
  font-size: 20px;
  width: 50vw;
  padding: 20px;
  justify-content:center ;
  align-items:center ;
  margin: 0 auto;
}

input{
  width: 30vw;
  background: #f3f340;
  padding: 30px;
  outline: none;
  text-align: center;
  justify-content:center ;
  align-items:center ;
  margin-left: 150px;
}

.botones{
  display: flex;
  margin-top: 20px;
}

.entrada{
  background:#f3f340;
  width: 30%;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  margin-left: 150px;
}


.salida{
  background:  #f3f340;
  width: 30%;
  color:black;
  text-align: center;
  text-decoration: none;
  padding: 20px;
}

  .wrap{
      width: 100%;
      max-width: 700px;
      margin:auto;
    }
  
    .widget{
       width: 100%;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center;
       /* background: rgb(165, 241, 124); */
    }
    .widget p{
      display: inline-block;
      line-height: 1em;
      
    }
    .fecha{
      height: 5rem;
      font-family: Oswald, Arial;
      font-size: 1.5em;
      width: 100%;
      text-align: center;
      padding: 1rem;
    }
    .reloj{
      font-family:Oswald, Arial;
      width: 100%;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3em;
      text-align: center;
    }
  
    .reloj .caja-segundos{
      display: inline-block;
    }
  
    .reloj .segundos,
    .reloj .ampm{
      font-size: 2rem;
      display: block;
    }
